Package: platform-modules-jaws-dbgsym
Source: sonic-cel-platform-modules
Version: 0.9
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Abhisit Sangjan <asang@celestica.com>
Installed-Size: 51
Depends: platform-modules-jaws (= 0.9)
Section: debug
Priority: optional
Description: debug symbols for platform-modules-jaws
Build-Ids: 22831ade8f6769fbabe66151f755380b5454672e 85145871df6cf795cf01cb1c32752fc804da7f79
