Package: platform-modules-shamu-dbgsym
Source: sonic-cel-platform-modules
Version: 0.9
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Abhisit Sangjan <asang@celestica.com>
Installed-Size: 55
Depends: platform-modules-shamu (= 0.9)
Section: debug
Priority: optional
Description: debug symbols for platform-modules-shamu
Build-Ids: 22831ade8f6769fbabe66151f755380b5454672e ed0f01a4d8065b4dd1a8044cc8696fbc2d997f77
