[Unit]
Description=Service for enable BMC watchdog.

[Service]
ExecStart=/bin/bash -c "while true; do /bin/sh /usr/local/etc/bmc_wdt.sh start; sleep 20; done"

[Install]
WantedBy=multi-user.target
